<h1>Create a Team and Heroes!</h1>
<form action="/teams" method="post">
  <p><label>Team Name:</label>
  <input type="text" name="team[name]"><br>
  <label>Team Motto:</label>
  <input type="text" name="team[motto]"><br></p>

  <p><h2>Hero 1</h2>
  <label>Hero's Name</label>
  <input id="hero_name_1" type="text" name="team[heroes][][name]"><br>
  <label>Hero's Power</label>
  <input id="hero_power_1" type="text" name="team[heroes][][power]"><br>
  <label>Hero's Biography:</label>
  <input id="hero_bio_1" type="text" name="team[heroes][][bio]"></p>


  <p><h2>Hero 2</h2>
  <label>Hero's Name</label>
  <input id="hero_name_2" type="text" name="team[heroes][][name]"><br>
  <label>Hero's Power</label>
  <input id="hero_power_2" type="text" name="team[heroes][][power]"><br>
  <label>Hero's Biography:</label>
  <input id="hero_bio_2" type="text" name="team[heroes][][bio]"></p>

  <p><h2>Hero 3</h2>
  <label>Hero's Name</label>
  <input id="hero_name_3" type="text" name="team[heroes][][name]"><br>
  <label>Hero's Power</label>
  <input id="hero_power_3" type="text" name="team[heroes][][power]"><br>
  <label>Hero's Biography:</label>
  <input id="hero_bio_3" type="text" name="team[heroes][][bio]"></p>

  <input type="submit" value="submit">
</form>
